*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    display: flex;
    position: fixed;
    top: 0;
    z-index: 3;
    width: 100%;
    height: 140px;
    justify-content: space-between;
    padding: 50px;
    background-color: white;
}
.evian {
    display: flex;
    align-items: center;
    color: #E50043;
    font-family: Arial;
    font-size: 50px;
    font-weight: 400;
}
.header-info {
    display: flex;
    align-items: center;
    color: #E50043;
    font-family: Arial;
    font-size: 50px;
    font-weight: 400;
}
.header-info > li {
    margin-right: 25px;
    display: inline;
}
.header-info >li:last-of-type {
    margin-right: 0;
}

.logo {
    display: flex;
    background: url("images/evian_origins_logo.png");
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    height: 950px;
    z-index: 1;
    justify-content: center;
    margin-top: 140px;

}
.logo-text {
    display: flex;
    text-align: center;
    font-family: Arial;
    font-size: 100px;
    font-weight: 400;
    line-height: normal;
    color: #E50043;
    z-index: 2;
    align-items: center;
}
.pink-box-cont {
    display: flex;
    justify-content: center;
}
.pink-box {
    display: flex;
    padding: 24px;
    border: 3px solid #F8BFC7;
    border-radius: 20px;
    width: 1040px;
    height: 280px;
    margin: 150px 0;

    color: #000;
    font-family: Arial;
    font-size: 25px;
    font-weight: 400;
}

.bottle {
    display: flex;
    justify-content: center;
}

.bottle-photo {
    margin-right: 100px;
}

.bottle-photo > p {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 42px;

    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    color: black;
}
.composition{
    padding: 30px 30px 30px 80px;
}
.composition-bottle{
    margin-right: 80px;
}
.copyright {
    width: 100%;
    height: 140px;
    padding: 50px;
    justify-content: flex-start;

    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    color: white;
}
.footer {
    display: flex;
    width: 100%;
    height: 140px;
    background-color: #F8BFC7;
    justify-content: center;

}