* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.menu-container {
  display: flex;
  justify-content: center;
  padding: 20px 0;
  color: #fff;
  background-color: #0b24fb;
}

.menu {
  width: 900px;
  display: flex;
  border: 1px solid #fff;
  justify-content: space-between;
}

.links {
  display: flex;
  justify-content: flex-end;
  border: 1px solid #fff;
}

.login {
  margin-left: 20px;
}
.header-container {
  display: flex;
  justify-content: center;
  background-color: #f1eeee;
  color: #000000;
}

.header {
  width: 900px;
  height: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* .social,
.logo,
.subscribe {
  border: 1px solid #000000;
} */
.photo-grid-container {
  display: flex;
  justify-content: center;
}

.photo-grid {
  width: 900px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
}
.first-item {
  order: -1;
}

/* .last-item {
  order: -1;
} */
.photo-grid-item {
  width: 300px;
  height: 300px;
  border: 1px solid #fff;
}
.social,
.logo,
.subscribe {
  align-self: flex-end;
  margin-bottom: 20px;
}